@model projectManagementSys.Models.user
@{
    ViewBag.Title = "Edituser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="wrapper">
    <div id="content">
        <section class="forms-section">
            <div class="outer-w3-agile mt-3">
                <h4 class="tittle-w3-agileits mb-4">Update User</h4>
                @using (Html.BeginForm("Edituser", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.FName)

                        @Html.TextBoxFor(model => model.FName, new { @class = "form-control", placeholder = "First Name", type = "text" })

                        @Html.ValidationMessageFor(model => model.FName, "", new { @class = "MessageError" })
                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.LName)

                        @Html.TextBoxFor(model => model.LName, new { @class = "form-control", placeholder = "Last Name", type = "text" })

                        @Html.ValidationMessageFor(model => model.LName, "", new { @class = "MessageError" })

                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.Email)

                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", type = "Email" })

                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "MessageError" })

                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.mobile)

                        @Html.TextBoxFor(model => model.mobile, new { @class = "form-control", placeholder = "Mobile Number", type = "text" })

                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "MessageError" })

                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.password)

                        @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Password", type = "password" })

                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "MessageError" })

                    </div>
                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.description)

                        @Html.TextBoxFor(model => model.description, new { @class = "form-control", placeholder = "Job description", type = "text" })

                        @Html.ValidationMessageFor(model => model.description, "", new { @class = "MessageError" })

                    </div>

                    <div class="form-group form-inline">
                        @Html.LabelFor(model => model.username)

                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", placeholder = "Username", type = "text" })

                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "MessageError" })

                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.image)

                        @Html.TextBoxFor(model => model.File, new { type = "file", required = "true" })

                        @Html.ValidationMessageFor(model => model.File, "", new { @class = "text-danger" })

                    </div>

                    <div class="col-md-12 form-inline">
                        <div class="col-md-5"></div>
                        <div class="col-md-1"><button type="submit" class="btn btn-primary">Add user</button></div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>